<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>
      This is home page. wait for the update. right now there is nothing to show
      - 404
    </h1>
  </body>
</html>
